<form action="/pirates" method="post">
  Pirate Name: <input id="name" type="text" name="team[name]">
  Pirate Weight: <input id="motto" type="text" name="team[motto]">
  Ship Name: <input id="member1_name" type="text" name="team[members][][name]">
  Ship Type: <input id="member1_power" type="text" name="team[members][][power]">
  Ship Booty: <input id="member1_bio" type="text" name="team[members][][bio]">
  Ship Name: <input id="member2_name" type="text" name="team[members][][name]">
  Ship Type: <input id="member2_power" type="text" name="team[members][][power]">
  Ship Booty: <input id="member2_bio" type="text" name="team[members][][bio]">
  Ship Name: <input id="member3_name" type="text" name="team[members][][name]">
  Ship Type: <input id="member3_power" type="text" name="team[members][][power]">
  Ship Booty: <input id="member3_bio" type="text" name="team[members][][bio]">
   <input type="submit" value="Submit">
</form>
